
/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Satisfy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Inline+One&family=Anton&family=Quicksand:wght@300;400&family=Satisfy&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&display=swap');


*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

  :root{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-family-1: 'Abril Fatface', serif;
    --font-family-2: 'Alumni Sans Inline One', sans-serif;
    --font-family-3: 'Oxygen', Quicksand;
    --font-family-4: 'Quicksand', sans-serif;
    --font-family-5: 'Satisfy', cursive;
    --font-family-6: 'Sedgwick Ave Display', cursive;
    --font-italic: 'Edu TAS Beginner', Oxygen;
    --font-family-7:'Noto Sans Display', Oxygen;
    --color-1 : rgba(5, 64, 159, 0.9);
    }
  
  
  html {
    font-size: 62.5%;
    line-height: 1.6;
    /* margin: 0 auto; */
    font-family: 'Quicksand', sans-serif;
    --color-blue: #29d;
    --color-green: #50C878;
    width:150rem;
    margin:0 auto;
    /* vertical-align: baseline; */
    /* background-color:var(--color-green); */
  
  }

  body {
    font-family: --font-primary;
    color: --color-grey-dark-2;
    color: --color-grey-light-1;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 auto;
    background-color: white;
  
  }
  
    img{
      width:100%;
      height:auto;
      }
      